@use '../../styles/variables' as *;

.footer-container {
  background-color: $neutral-50;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid $border-light;

  .footer {
    font-size: 14px;
    color: $text-secondary;
  }
}
