<div class="header-container">
  <header class="header">
    <div class="logo">Interview Assistant</div>
    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
      <a routerLink="/register/organisation" routerLinkActive="active-link"
        >Register Organisation</a
      >
      <a routerLink="/register/interviewer" routerLinkActive="active-link">Register Interviewer</a>
      <a routerLink="/register/candidate" routerLinkActive="active-link">Register Candidate</a>
      <a routerLink="/login" routerLinkActive="active-link">Login</a>
    </nav>
  </header>
</div>
